.btn-radious {
    border-radius: 15px;
}

.logoSize {
    width: 3.5em;
}

.footerLogoSize {
    width: 9em;
}

.footerLink {
    text-decoration: none;
    color: white;
}

.imgForm {
    width: 40em;
}

.errorMain {
    background-image: url(../img/PORTADA1.png);
}